
@media screen and (max-width: 860px) {
    // 导航栏自适应
    .rightW{
        display: none;
    }
    .leftW{
        width: 98%;
    }
    // swiper 重置高度
    .swiper{
        height: 400px!important;
    }
    .w1200{
        padding: 4px;
    }
    .nav{
        min-width: auto!important;
    }
    .article-right{
        display: none!important;
    }
    .article-left{
        margin-right: 0!important;
    }
    .article-left{
        margin-left:0!important;
    }
    .navigation{
       display: none;
    }
    .top24{
        margin-top: 6px;
    }
}
@media screen and (max-width: 570px) {

}